<header class="py-3 bg-info">
    <div class="container">
        <h1><i class="bi bi-person"> Editar Contacto</i></h1>
    </div>
</header>

<form #contactoForm="ngForm" (ngSubmit)="guardar(contactoForm)">
    <section class="py-4 mb-4">
        <div class="container d-flex justify-content-between">
            <a routerLink="/" class="btn btn-primary">
                <i class="bi bi-arrow-left"></i> Regresar
            </a>
            <button class="btn btn-success" type="submit">
                <i class="bi bi-check"></i> Guardar Contacto
            </button>
            <a href="#" (click)="eliminar()" class="btn btn-danger">
                <i class="bi bi-trash"></i> Eliminar Contacto
            </a>
        </div>
    </section>
</form>

<section>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h4>Editar Contacto</h4>
            </div>
            <div class="card-body">
                <div class="d-flex align-items-center mb-3">
                    <label for="nombre" class="form-label me-3" style="min-width: 100px">Nombre</label>
                    <div class="col-sm-9">
                        <input type="text" id="nombre" name="nombre" class="form-control" required minlength="2" maxlength="100" [(ngModel)]="contacto.nombre" #nombre="ngModel"/>
                        @if(nombre.invalid && nombre.touched){
                            <div class="text-danger fs-6">Nombre es requerido</div>
                        }
                    </div>                        
                </div>
                <div class="d-flex align-items-center mb-3">
                    <label for="apellido" class="form-label me-3" style="min-width: 100px">Apellido</label>
                    <div class="col-sm-9">
                        <input type="text" id="apellido" name="apellido" class="form-control" required minlength="2" maxlength="100" [(ngModel)]="contacto.apellido" #apellido="ngModel"/>
                        @if(apellido.invalid && apellido.touched){
                            <div class="text-danger fs-6">Apellido es requerido</div>
                        }
                    </div>                       
                </div>
                <div class="d-flex align-items-center mb-3">
                    <label for="email" class="form-label me-3" style="min-width: 100px">Email</label>
                    <div class="col-ms-9" style="width: 70%;">
                        <input type="text" id="email" name="email" class="form-control" required minlength="2" maxlength="100" [(ngModel)]="contacto.email" #email="ngModel">
                        @if(email.invalid && email.touched){
                            <div class="text-danger fs-6">Email es requerido</div>
                        }
                    </div>                        
                </div>
                <div class="d-flex align-items-center mb-3">
                    <label for="telefono" class="form-label me-3" style="min-width: 100px">Telefono</label>
                    <div class="w-70" style="width: 70%;">
                        <input type="number" id="telefono" name="telefono" class="form-control w-100" required min="3000000000" max="3600000000" [(ngModel)]="contacto.telefono" #telefono="ngModel">
                        @if(telefono.invalid && telefono.touched){
                            <div class="text-danger fs-6">Telefono es requerido, validar número</div>
                        }
                    </div>                        
                </div>
            </div>
        </div>
    </div>
</section>